body{
    background-color: rgb(212, 209, 209);
}


.container{
    background-color: rgb(250, 245, 245);
    padding: 25px 15px 25px 15px;
    margin: 100px 585px;
    border-radius: 10px 
}

.container p{
    text-align: center;
    font-weight: 900;
    font-size: 25px;
    margin-bottom: 15px;
}

.container h6{
    opacity: 0.5;
    text-align: center;
    font-weight: 700;
    font-size: 15px;
    margin-top: 0;
    padding: 0px 20px;
}

img{
    display: block;
    margin: 0 auto;
    border-radius: 10px;
}



