body{
    background-color: rgb(212, 209, 209);
}


.container{
    background-color: rgb(250, 245, 245);
    padding: 10px 0px 100px 0px;
    margin: 120px 650px;
    border-radius: 10px
    
}

img{
    display: block;
    margin: 0 auto;
    border-radius: 10px;
}

